doctype html
html(lang="en")
	include head.pug

	body
		include header.pug

		.container
			a(class="btn btn-primary btn-lg" href="/game.html?language=english" role="button") English
			a(class="btn btn-primary btn-lg" href="/game.html?language=russian" role="button") Русский (Russian)

		include scripts.pug
