.definition {
	white-space: pre
}

.btn-fake, .btn-real {
	width: 45%;
	height: 100px;
}

.btn-real{
	float: right;
}

.card-title h3 {
	width: 40%;
	margin-right: 0;
	display: inline-block;
}

.card-title .result {
	float: right;
	text-align: right;
}